<h1>All Posts</h1>
	<ul id="posts">
	  <% @posts.each do |p| %>
	    <li>
	      <%= p.content %>
				<% if user_signed_in? %>
					Author:<%= current_user.email %>
				<% end %>
		  </li>
		  <% end %>
	</ul>

	<% if current_user %>
		<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> <br>
	<% else %>
		<%= link_to 'Sign In', new_user_session_path %>
	<% end %>
	
	
	<%= link_to 'Create Post', new_post_path %>